.mat-icon {
  position: absolute;
  top: 0.125em;
  left: 0.125em;
  font-size: 64px;
  width: auto;
  height: auto;
  &:hover {
    filter: brightness(5) invert(1) drop-shadow(0 0 10px #000);
    cursor: pointer;
  }
}
