<app-back-to-home-button />

<form [formGroup]="cadastroService.form" class="form-cadastroPessoa" (ngSubmit)="registrarPessoa()">
  <h1>Cadastro de pessoa</h1>
  <div class="form-content">
    <mat-stepper #stepper class="form-stepper">
      <!-- Informações pessoais -->
      <mat-step [stepControl]="cadastroService.personalInfo">
        <div formGroupName="personalInfo" class="form-group">
          <ng-template matStepLabel>Informações pessoais</ng-template>
          <div class="stepControls">
            <div class="stepControlLeft"></div>
            <div class="stepControlRight">
              <button
                type="button"
                matButton
                matStepperNext
                aria-label="Next form"
                matTooltip="Avançar"
              >
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
            </div>
          </div>
          @for (info of formInfoType; track info.id) {
            <mat-form-field [id]="info.id">
              <mat-label>{{ info.label }}</mat-label>
              <input matInput [appMask]="info.mask" [formControlName]="info.formControlName" />
            </mat-form-field>
          }
        </div>
      </mat-step>

      <!-- Contato -->
      <mat-step [stepControl]="cadastroService.personalContact">
        <div formGroupName="personalContact" class="form-group">
          <ng-template matStepLabel>Contato</ng-template>

          <div class="stepControls">
            <div class="stepControlLeft">
              <button
                type="button"
                matIconButton
                (click)="stepper.reset()"
                matTooltip="Reiniciar formulário"
              >
                <mat-icon>clear_all</mat-icon>
              </button>
            </div>
            <div class="stepControlRight">
              <button type="button" matButton matStepperPrevious matTooltip="Voltar">
                <mat-icon>keyboard_arrow_left</mat-icon>
              </button>
              <button type="button" matButton matStepperNext matTooltip="Avançar">
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
            </div>
          </div>
          @for (contact of formContactType; track contact.id) {
            <mat-form-field [id]="contact.id">
              <mat-label>{{ contact.label }}</mat-label>
              <input
                matInput
                [appMask]="contact.mask"
                [formControlName]="contact.formControlName"
              />
            </mat-form-field>
          }
          <div class="socialMedia" formArrayName="socialMedia">
            <div class="socialMediaContent">
              @for (
                group of cadastroService.socialMediaArray.controls;
                track $index;
                let i = $index
              ) {
                <div class="socialMediaContainer" [formGroupName]="i">
                  <div class="socialMediaTypeGroup">
                    <mat-form-field>
                      <mat-icon matIconPrefix>more</mat-icon>
                      <mat-select placeholder="Social Media" formControlName="mediaType">
                        @for (
                          socialMedia of cadastroService.socialMediaList | keyvalue;
                          track socialMedia.key
                        ) {
                          <mat-option [value]="socialMedia.value">
                            {{ socialMedia.value | titlecase }}
                          </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <mat-form-field class="socialMediaURL">
                    <mat-label>URL</mat-label>
                    <input
                      matInput
                      appMask="URL"
                      formControlName="mediaURL"
                      placeholder="https://"
                    />
                  </mat-form-field>

                  <button
                    type="button"
                    mat-icon-button
                    class="socialMediaAdd"
                    (click)="addSocialMediaURLItem()"
                    matTooltip="Adicionar nova rede"
                  >
                    <mat-icon>add</mat-icon>
                  </button>

                  @if (cadastroService.socialMediaArray.controls.length > 1) {
                    <button
                      type="button"
                      mat-icon-button
                      class="socialMediaRemove"
                      (click)="removeSocialMediaURLItem(i)"
                      matTooltip="Remover"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  }
                </div>
              }
            </div>
          </div>
        </div>
      </mat-step>

      <!-- Endereço -->
      <mat-step [stepControl]="cadastroService.personalAddress">
        <div formGroupName="personalAddress" class="form-group">
          <ng-template matStepLabel>Endereço</ng-template>

          <div class="stepControls">
            <div class="stepControlLeft">
              <button
                type="button"
                matIconButton
                (click)="stepper.reset()"
                matTooltip="Reiniciar formulário"
              >
                <mat-icon>clear_all</mat-icon>
              </button>
            </div>
            <div class="stepControlRight">
              <button type="button" matButton matStepperPrevious matTooltip="Voltar">
                <mat-icon>keyboard_arrow_left</mat-icon>
              </button>
              <button type="button" matButton matStepperNext matTooltip="Avançar">
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
            </div>
          </div>

          @for (addr of formAddressType; track addr.id) {
            <mat-form-field [id]="addr.id">
              <mat-label>{{ addr.label }}</mat-label>
              <input matInput [appMask]="addr.mask" [formControlName]="addr.formControlName" />
            </mat-form-field>
          }
        </div>
      </mat-step>

      <!-- Identity Info -->
      <mat-step [stepControl]="cadastroService.personalIdentityInfo">
        <div formGroupName="personalIdentityInfo" class="form-group">
          <ng-template matStepLabel>Identidade pessoal</ng-template>

          <div class="stepControls">
            <div class="stepControlLeft">
              <button
                type="button"
                matIconButton
                (click)="stepper.reset()"
                matTooltip="Reiniciar formulário"
              >
                <mat-icon>clear_all</mat-icon>
              </button>
            </div>
            <div class="stepControlMiddle">
              <button
                type="submit"
                matIconButton
                aria-label="Submit button"
                matTooltip="Enviar formulário"
              >
                <mat-icon>done</mat-icon>
              </button>
            </div>
            <div class="stepControlRight">
              <button
                type="button"
                matButton
                matStepperPrevious
                matTooltip="Voltar para o passo anterior"
              >
                <mat-icon>keyboard_backspace</mat-icon>
              </button>
            </div>
          </div>

          @for (idInfo of formIdentityInfoType; track idInfo.id) {
            <mat-form-field [id]="idInfo.id">
              <mat-label>{{ idInfo.label }}</mat-label>
              <input matInput [appMask]="idInfo.mask" [formControlName]="idInfo.formControlName" />
            </mat-form-field>
          }
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</form>
